<%= form_for(@gag) do |f| %>
  <% if @gag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gag.errors.count, "error") %> prohibited this gag from being saved:</h2>
      <ul>
      <% @gag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :media_file %><br>
    <%= f.file_field :media_file %>
  </div>
  <div class="actions"> <br>
    <button type="submit" class="btn btn-primary">Save Gag</button>
  </div>
<% end %>
